<Form ngForm #r="ngForm" autocomplete="off" (ngSubmit)="onSubmit(r)">
    <h2>Register For Your Account</h2>
<div class = .login>
    <div>
    <input type="text" name="username" ngModel required #username="ngModel" placeholder="Username"/>
    </div>

    <div>
        <input type="password" name="password" ngModel required #password="ngModel" placeholder="Password"/>
    </div>
    <div>
        <input type="text" name="firstName" ngModel required #firstName="ngModel" placeholder="First Name"/>
    </div>
    
    <div>
        <input type="text" name="lastName" ngModel required #lastName="ngModel" placeholder="Last Name"/>
    </div>
    <div>
        <input type="text" name="email" ngModel required #email="ngModel" placeholder="Email"/>
    </div>
        
    <div><br>
        <label for="pic" style="position:absolute;">Upload Profile Pic</label>
        <input type="file" id = "pic" name="pic" ngModel  #pic="ngModel" accept = "image/*" (change)="fileChange($event)"/>
    </div>
    <div>
        <input type="submit" [disabled]="!r.valid" value="Register"/>  
        
    </div> 
</div>
</Form>
