<!DOCTYPE html>
<html>
<title>ImSorryWilson</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<div [ngSwitch] = "home">
  

<body class="w3-theme-l5">
  
  <!-- Top Navigation Bar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
     <button (click) = "homie()" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" title="Home"><i class="fa fa-home w3-margin-right"></i>I'm Sorry Wilson</button>
     <button (click) = "settings()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-gear"></i></button>
     <button (click) = "profile()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Profile"><i class="fa fa-user"></i></button>
     <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Friend Requests"><i class="fa fa-group"></i></button>
     <form #f="ngForm" (ngSubmit)="search(f)">
      <input type="text" name="username" ngModel required #username="ngModel" placeholder="Search other users" class="w3-bar-item w3-input w3-hide-small w3-padding-large w3-hover-white " title="Search"><i></i>
      <button type = "submit" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"><i class="fa fa-search"></i></button>
     </form>
     <div>
       <button (click) = "logout()" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Log Out"><i class="fa fa-sign-out w3-margin-right"></i>Log Out</button>
     </div>
    </div>
   </div>

<!-- View for Account Settings -->
<div *ngSwitchCase = "1">
    
  <div><br><br><br><h2 style="font-family:Georgia, 'Times New Roman', Times, serif">Update User info</h2><br><br></div>
  <form>
    <div>Change First Name?
      <input [(ngModel)] = "user.firstName" name = "user.firstName" usertype = "text" placeholder="New First Name">
    </div>
    <div>Change Last Name?
      <input [(ngModel)] = "user.lastName" name = "user.lastName" type = "text" placeholder="New Last Name">
    </div>
    <div>Change Your Email?
      <input [(ngModel)] = "user.email" name = "user.email"  type = "text" placeholder="New Email">
    </div>
    <input type="file" id = "postPic" name="postPic" ngModel  #postPic="ngModel" accept = "image/*" (change)="fileChange1($event)"/><br>
    <br>
    <button type = "submit" (click) = "updateInfo()" value = "Save" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-save"></i>  Submit Changes</button>
</form>
<br>
<form>
  <div>Change Password?
    <input [(ngModel)] = "vPassword" name = "vPassword" type = "password">
    <button type = "submit" (click) = "verifyPassword()" value = "Save" class="w3-button w3-theme-d2 w3-margin-left"><i class="fa fa-save"></i>  Verify</button>
    <div [hidden] = "isHidden"><input [(ngModel)] = "newPassword" name = "newPassword" type = "password" placeholder="New Password">
      <button type = "submit" (click) = "updatePassword()" value = "Save"  class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-save"></i>  Change Password</button></div>
  </div>
</form>
</div>

<!-- View for Printing Out Search Results -->
<div *ngSwitchCase = "2">
   <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
           <h4 class="w3-center w3-margin-top">{{searchedUser.username}}'s Profile</h4>
           <img [src]="'data:image/jpg;base64,' + searchedUser.pic" alt="" height = "150px" width = "150px">
           <hr>
           <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{searchedUser.firstName}}</p>
           <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{searchedUser.lastName}}</p>
           <p><i class="fa fa-envelope-o fa-fw w3-margin-right w3-text-theme"></i> {{searchedUser.email}}</p>
          </div>
        </div>
        <br>
        
        <!-- Accordion -->
        <div class="w3-card w3-round">
          <div class="w3-white">
            <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> {{searchedUser.username}}'s Groups</button>
            <div id="Demo1" class="w3-hide w3-container">
              <p>Some text..</p>
            </div>
            <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> {{searchedUser.username}}'s Events</button>
            <div id="Demo2" class="w3-hide w3-container">
              <p>Some other text..</p>
            </div>
            <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> {{searchedUser.username}}'s Photos</button>
            <div id="Demo3" class="w3-hide w3-container">
            </div>
          </div>      
        </div>
        <br>
        
      
      <!-- End Left Column -->
      </div>
      
      <!-- Middle Column -->
      <div class="w3-col m7">
        <div *ngFor = "let post of posts">
          <div *ngIf = "searchedUser.id == post.userID">
            <div class="w3-row-padding">
              <div class="w3-col m12">
                <div class="w3-card w3-round w3-white">
                  <div class="w3-container w3-padding">
                    <div><h5>{{post.postDate}}</h5></div>
                    <div *ngIf="post.pic !=null">
                    <img [src]="'data:image/jpg;base64,' + post.pic" alt="" height = "150px" width = "150px">
                    </div>
                    {{post.post}}
                    <div><b>Likes</b>: {{post.likeCount}}</div>
                    
                    <form>
                      <mat-checkbox value = "radioStatus" (click) = "like(radioStatus, post.id,post.likeCount)" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</mat-checkbox> 
                      <button (click) = "commentOn(post.id,user.username,commented)" type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
                      <textarea id = {{post.id}} #commented name = comment.comment class = "message" placeholder="Write a comment" rows = "5" cols = "70" maxlength = "100"></textarea>
                    </form> 
                    <h4 style="text-align:left;"><b>Comments:</b></h4>
                    <div *ngFor = "let comment of comments">
                      <div style="text-align:left;" *ngIf = "comment.postID == post.id">
                        <b>{{comment.userName}}</b>: {{comment.comment}}
                      </div>
                    </div>
                  </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      <!-- End Middle Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
  <!-- End Page Container -->
  </div>
 
</div>

<!-- View for Profile Page -->
<div *ngSwitchCase = "3">

  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
           <h4 class="w3-center">My Profile Page</h4>
           <img [src]="'data:image/jpg;base64,' + user.pic" alt="" height = "150px" width = "150px">
           <hr>
           <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{user.firstName}}</p>
           <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{user.lastName}}</p>
           <p><i class="fa fa-envelope-o fa-fw w3-margin-right w3-text-theme"></i> {{user.email}}</p>
          </div>
        </div>
        <br>
        
        <!-- Accordion -->
        <div class="w3-card w3-round">
          <div class="w3-white">
            <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
            <div id="Demo1" class="w3-hide w3-container">
              <p>Some text..</p>
            </div>
            <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
            <div id="Demo2" class="w3-hide w3-container">
              <p>Some other text..</p>
            </div>
            <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
            <div id="Demo3" class="w3-hide w3-container">
            </div>
          </div>      
        </div>
        <br>
        
      
      <!-- End Left Column -->
      </div>
      
      <!-- Middle Column -->
      <div class="w3-col m7">
      
        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <form>
                  <h4 class="w3-opacity">What would you like to post?</h4>
                  <textarea [(ngModel)] = "current" name = "current" (keypress) = "updateCountdown()" class = "message" placeholder="Hello, child." rows = "5" cols = "70" maxlength = "200"></textarea>
                  <h6>Characters remaining: {{ charactersRemaining }}</h6>
                  <input type="file" id = "postPic" name="postPic" ngModel  #postPic="ngModel" accept = "image/*" (change)="fileChange($event)"/><br>
                  <button type="button" (click) = "postIt()" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
                </form>
              </div>
            </div>
          </div>

          <div *ngFor = "let post of posts">
            <div *ngIf = "user.id == post.userID">
              <div class="w3-row-padding">
                <div class="w3-col m12">
                  <div class="w3-card w3-round w3-white">
                    <div class="w3-container w3-padding">
                      <div><h5>{{post.postDate}}</h5></div>
                      <div *ngIf="post.pic != null">
                      <img [src]="'data:image/jpg;base64,' + post.pic" alt="" height = "150px" width = "150px">
                      </div>
                      {{post.post}}
                      <div><b>Likes</b>: {{post.likeCount}}</div>
                      
                      <form>
                        
                        <mat-checkbox value = "radioStatus" (click) = "like(radioStatus, post.id,post.likeCount)" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</mat-checkbox> 
                        <button (click) = "commentOn(post.id,user.username,commented)" type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
                        <textarea id = {{post.id}} #commented class = "message" placeholder="Write a comment" rows = "5" cols = "70" maxlength = "100"></textarea>
                      </form> 
                      <h4 style="text-align:left;"><b>Comments:</b></h4>
                    <div *ngFor = "let comment of comments">
                      <div style="text-align:left;" *ngIf = "comment.postID == post.id">
                        <b>{{comment.userName}}</b>: {{comment.comment}}
                      </div>
                    </div>
                    </div>
                  </div>
               </div>
              </div>  
            </div>
          </div>
        </div>
        
        
      <!-- End Middle Column -->
      </div>
      
      
      
    <!-- End Grid -->
    </div>
    
  <!-- End Page Container -->
  </div>

</div>
<!-- Home Page View [Default] -->
<div *ngSwitchCase = "0">
  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      
      
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
          <div id="Demo3" class="w3-hide w3-container">
          </div>
        </div>      
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">Jason</span>
            <span class="w3-tag w3-small w3-theme-d3">Elliott</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Anas</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Mark</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Casey</span>
          </p>
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. But this ain't LinkedIn! Click to close.</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <form>
                <h4 class="w3-opacity">What would you like to post?</h4>
                <textarea [(ngModel)] = "current" name = "current" (keypress) = "updateCountdown()" class = "message" placeholder="Hello, child." rows = "5" cols = "70" maxlength = "200"></textarea>
                <h6>Characters remaining: {{ charactersRemaining }}</h6>
                <input type="file" id = "postPic" name="postPic" ngModel  #postPic="ngModel" accept = "image/*" (change)="fileChange($event)"/><br>
                <button type="button" (click) = "postIt()" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div> 

      <!-- Posts Generation -->
      <div class="w3-col m7">
        <div *ngFor = "let post of sortData; let i = index">
          
            <div class="w3-row-padding">
              <div class="w3-col m12">
                <div class="w3-card w3-round w3-white">
                  <div class="w3-container w3-padding">
                    <div><h5>{{post.postDate}}</h5></div>
                    <div *ngIf = "post.pic != null">
                    <img [src]="'data:image/jpg;base64,' + post.pic" alt="" height = "150px" width = "150px">
                    </div>
                    {{post.post}}
                    <div><b>Likes</b>: {{post.likeCount}}</div>       
                    <form>
                      <mat-checkbox value = "radioStatus" (click) = "like(radioStatus, post.id,post.likeCount)" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</mat-checkbox> 
                      <button (click) = "commentOn(post.id,user.username, commented.value)" type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
                      <textarea id = {{post.id}} #commented  class = "message" placeholder="Write a comment" rows = "5" cols = "70" maxlength = "100"></textarea>
                    </form> 
                    <h4 style="text-align:left;"><b>Comments:</b></h4>
                    <div *ngFor = "let comment of comments">
                      <div style="text-align: left;" *ngIf = "comment.postID == post.id">
                        <b>{{comment.userName}}</b>: {{comment.comment}}
                      </div>
                    </div>
                  </div>
                </div>
             </div>
            </div>
        </div>
       
      <!-- End Middle Column -->
      </div>
      
    <!-- End Middle Column -->
    </div>
    
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>


<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
<!-- </div> -->
</body>

</div>
<br>
</html> 